@media  (min-width: 92px){
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .nav.navbar.navbar-expand-lg.bg-body-tertiary {
    }
}

.main{
    display: flex;
    background-size: cover;
    width: 100vw;
   height: 100vh;
    background-color: black;
    overflow-y: auto;
}

.back{
    background-color: rgb(253, 253, 253);
    width: 94vw;
    overflow-x: visible;
    height: 320vw;
    margin-left: 3%;
    margin-right: 3%;
}
.menu{
    padding-top: 3.52vw;
    align-content: center;
    width: 100%;
    height: 4.04vw;
    margin-bottom: 4vw;
}
.corus{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #DCE5E2;
    border-radius: 32px;
    margin-top:3.03vw;
    z-index: 0;
    position: relative;
    display: flex;
}
.left2{
    margin-bottom: 0.8vw;
    height: 2.49vw;
    width: 1.56vw;
    background-image: url(left.png);
    background-size: cover;
    transform: scale(1);

}
.right2{
    height:  1.88vw;
    width:1.15vw;
    background-image: url(right.png);
    background-size: cover;
    transform: scale(1);
}
.bi-search{
    margin-left: 21.19vw;
   background-image: url(search.png);
   background-size: cover;
   transform: scale(1);
    width: 1.61vw;
    height:1.61vw;
    margin-top: -0.31vw;
}
.bi-cart2{
    margin-top: -0.3vw;
    margin-left:  1.01vw;
    background-size: cover;
    transform: scale(1);
    background-image: url(cart.png);
    width: 1.61vw;
    height:1.61vw;
}
.image1{
    background-image: url(california2.png);
    background-size: cover;
    transform: scale(1);
    width: 11.2vw;
    height:1.6vw;
    margin-left:4.04vw;
}
.nav-item{
    font-family: Inter;
    font-size:  0.81vw;
    font-weight: 400;
    line-height: 0.85vw;
    text-align: left;
}
.nav-link{
    font-family: Inter;
    font-size: 0.91vw;
    font-weight: 400;
    line-height:  0.85vw;
    text-align: left; 
}
.n1{
    font-family: Inter;
    font-size: 0.91vw;
    font-weight: 400;
    line-height:  0.85vw;
    text-align: left;
    color: black;
    margin-left:17.68vw;
    text-decoration: none;
}



.n2{
    font-family: Inter;
    font-size: 0.91vw;
    font-weight: 400;
    line-height:  0.85vw;
    text-align: left;
    color: black;
    margin-left: 2.63vw;
    text-decoration: none;
}
.nav-item{
    text-decoration: none;
}
.nav-item:hover{
    text-decoration: none;
}
.p1{
    color: black;
}                               
.container-1{
    display: flex;
}                                                                                                                                                                                                                              
.leftImg{
    background: url("345.png");
    background-size: cover;
    transform: scale(1);
    margin-bottom: -2vw;
    width: 36.87vw;
    height:  37.87vw;
    margin-left: 2vw;
}
.leftText{
width: 50%;
height:  36vw;
background-color: #DCE5E2;
border-radius: 32px;    
}
.zag{
    font-family: Readex Pro;
    font-size: 3.64vw;
    margin-top: 23%;
    margin-left: 3.64vw;
    color: black;
    line-height: 4.29vw;
}
.podzag{
    margin-top: 3%;
    font-family: Inter;
font-size:  1.01vw; 
line-height: 1.26vw;
text-align: left;
margin-left:3.54vw;
width: 90%;
}
.button{
    margin-top: 5%;
    margin-left:3.54vw;
    width: 26%;
    height: 3.13vw;
    border: black solid 1pt;
    text-align: center;
    padding-top: 0.66vw;
    border-radius: 1.62vw;
    font-size:  1.16vw;
    font-family: Readex Pro;
}
.carousel-control-prev{
  margin-left: -5.5%;
}
.carousel-control-next{
    margin-right:-5.5% ;
}
.carousel-indicators [data-bs-target]{
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 1.52vw;
    height: 0.15vw;
    padding: 0;
    margin-right:  0.15vw;
    margin-left:  0.15vw;
    text-indent: - 50.45vw;
    cursor: pointer;
    background-color: black;
    background-clip: padding-box;
    border: 0;
    border-top:  0.51vw solid transparent;
    border-bottom:  0.51vw solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}
.shop{
    width: 90%;
    height:70vw;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
    margin-top: 4.24vw;
}
.txt2{
    font-family: Readex Pro;
    color: black;
    text-align: center;
    font-size:  2.68vw;
}
.txt3{
    margin-left: 22.22vw;
    font-family: Readex Pro;
    color: black;
    text-align: left;
    font-size:  0.91vw;
    white-space:  0.25vw;
    line-height: 0.85vw;
    width: 47%;
    margin-top:  0.51vw;
    border-color: white;
}

button {
    padding-block: 0px;
    padding-inline: 0px;
    border-width: 0px;
    border-style: none;
    border-color:none;
    border-image: none;
}
.c1{
    margin-left: 20vw;
    display: flex;
    z-index: 1;
}
.d1{
width: 12.5vw;
margin-left: 2.08vw;
margin-bottom:2vw ;
height: 0.1vw;
background-size: cover;
background-color: black;
transform: scale(1);
z-index: 1;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Два столбца равной ширины */
    grid-template-rows: 1fr ; /* Две строки равной высоты */
    gap: 1.01vw; /* Расстояние между ячейками */
    margin-top: 4.29vw;
}
.active{
    width: 3vw;
    height: 3vw;
}
.grid-item {
    background-color: lightblue;
    padding: 1.01vw;
    text-align: center;
}
.item1{
    width: 40.4vw;
    height: 30.51vw;
    box-shadow: 0px 0.2vw 1.77vw 0px #00000040;
}
.item2{
    background-color: white;
    box-shadow: 0px 0.2vw  1.77vw 0px #00000040;
    width: 19.49vw;
    height:  51.16vw;

}
.item3{
    box-shadow: 0px 0.2vw  1.77vw 0px #00000040;
    width:19.34vw;
    height: 51.16vw;

}
.item4{
    background-color: white;
    box-shadow: 0px 0.2vw  1.77vw 0px #00000040;
    width: 40.4vw;
    height: 17.07vw;
    margin-top: -16.67vw;
    display: flex;
}
.txt4{
    font-family: Readex Pro;
    font-size:2.07vw;
    font-weight: 400;
    line-height: 2.39vw;
    color: black;
}
.img1{
background-image:url(nout.png) ;
background-size: cover;
transform: scale(1);
width: 32.12vw;
height: 23.74vw;
margin-left: 2.27vw;
}
.img2{
background-image: url(mobila.png);
background-size: cover;
transform: scale(1);
width: 18.94vw;
height: 23.74vw;
margin-left: 0.56vw;
margin-bottom: 2.53vw;
margin-top: 10.1vw;
}
.img3{
background-image: url(ipad.png);
background-size: cover;
transform: scale(1);
width: 19.34vw;
height:23.99vw;
margin-top: 5.05vw;
}
.img4{
    margin-left: 3.54vw;
    background-image: url(chasi.png);
    background-size: cover;
    transform: scale(1);
    width: 23.23vw;
    height:17.12vw;
}
.txtL{
text-align: right;
width: 20.2vw;
height: 5.05vw;
margin-left: 17.42vw;
}
.txtP{
text-align: center;
width: 17.68vw;
height: 5.05vw;
margin-left:  1.01vw;
}
.txtT{
    text-align: center;
    width: 17.68vw;
    height: 5.05vw;
  
}
.txtW{
    text-align: center;
    width: 10.1vw;
    height: 10.1vw;
    margin-left: 2.02vw;
    margin-top: 5.56vw;
}
.txt51{
    font-family: Readex Pro;
    width: 3.89vw;
    font-size: 1.01vw;
    height: 1.26vw;
    top: -0.05vw;
    margin-left: 16.26vw;
}
.txt52{
    font-family: Readex Pro;
    width: 3.89vw;
    font-size: 1.01vw;
    height: 1.26vw;
    top: -0.05vw;
    margin-left: 6.97vw;
}
.txt53{
    font-family: Readex Pro;
    width: 3.89vw;
    font-size: 1.01vw;
    height: 1.26vw;
    margin-top: 2.5vw;
    margin-left:  6.46vw;
}
.txt54{
    font-family: Readex Pro;
    width: 3.89vw;
    font-size: 1.01vw;
    height: 1.26vw;
    top: -0.05vw;
    margin-left: 5.56vw;
}
.save{
    width: 100%;
    height: 32.83vw;
}
.zag2{
font-family: Readex Pro;
font-size:  2.78vw;
font-weight: 400;
color: black;
line-height: 2.95vw;
margin-left: 2.53vw;
text-align: center;

}
.txt6{
color: black;
font-family: Readex Pro;
font-size: 0.86vw;
font-weight: 400;
line-height: 0.85vw;
text-align: left;
margin-left: 35.83vw;
margin-top:  1.01vw;
}
.items{
    margin-top:  3.54vw;
    display: flex;
    width: 100%;
    height: 35.35%;
}
.mac1{
margin-top: 3.03vw;
height: 30.3vw;
width:20.2vw;
margin-left: 4.55vw;
}
.smart{
height:  30.3vw;
width: 20.2vw;
margin-left:  1.01vw;
}
.mac3{
height:  30.3vw;
margin-top:  3.03vw;
width: 20.2vw;
margin-left: 1.01vw;
}
.ipad{
height:  30.3vw;
width: 20.2vw;
margin-left: 1.01vw;
margin-top:1.52vw;
}
.txt7{
    font-family: Readex Pro;
    font-size: 1.41vw;
    font-weight: 400;
    line-height: 1.21vw;
    text-align: left;
    margin-top:4.04vw;
    display: flex;
}
.txt8{
    font-family: Inter;
    font-size: 0.91vw;
    font-weight: 400;
    line-height: 1.01vw;
    text-align: left;
    margin-top:  0.76vw;
    width: 17.68vw;
    
}
.pay{
    font-family: Inter;
font-size:  1.16vw;
font-weight: 400;
line-height: 1.01vw;
text-align: left;
margin-top: 1.01vw;
}
.img5{
    height:  8.79vw;
    width: 14.8vw;
    background-image: url(m1.png);
    background-size: cover;
    transform: scale(1);
    margin-left: 2.12vw;
}
.img6{
    height: 14.19vw;
    width:  9.9vw;
    background-image: url(watch.png);
    background-size: cover;
    transform: scale(1);
    margin-left: 4.55vw;
}
.img7{
    height:  9.04vw;
    width: 15.45vw;
    background-image: url(m3.png);
    margin-left: 1.92vw;
    background-size: cover;
    transform: scale(1);
}
.img8{
    height: 13.43vw;
    width: 9.09vw;
    background-image: url(i.png);
    margin-left: 5.05vw;
    background-size: cover;
    transform: scale(1);
    
}
input#input1{
    background-color: white;
    padding-left: 3.7VW;
    z-index: 0;
    width: 39.65vw;
    color: BLACK;
    height: 3.69vw;
    margin-left: -3.23vw;
    border-radius: black solid 2.02vw;
    margin-top: -1.56vw;
    border-radius: 2.02vw;
    
    font-size: 0.83vw;
    font-family: "Roboto", "Arial", sans-serif;
}
input#input2{
    background-color: #DCE5E2;
   
    z-index: 0;
    padding-right: 9.38vw;
    margin-right: -1.7vw;
    height: 2.93vw;
    font-size: 0.83vw;
    font-family: "Roboto", "Arial", sans-serif;
    border: black solid 1px;
    border-radius: 1.52vw 0px 0px 1.52vw; 
    padding-left: 1.75vw;
}
.m2{
margin-top: -2.53vw;
}
.m3{
    margin-top: -0.61vw;
}
.m4{
    margin-top: -3.43vw;
}
.payday{
    margin-top:2.02vw;
}
.txt10{
font-family: Readex Pro;
font-size:  1.82vw;
font-weight: 400;
color: black;
line-height: 2.95vw;
margin-left: 2.53vw;
text-align: center;
}
.see{
    margin-top: 3.54vw;
}
.itemsb{
    margin-top: 6.57vw;
    display: flex;
    width: 100%;
    height: 32.83vw;
}
.txt9{
    color: black;
    font-family: Readex Pro;
    font-size:  0.86vw;
    font-weight: 400;
    line-height:  0.8vw;
    text-align: center;
    margin-left:2.27vw;
}
.items1{
    margin-left: 4.04vw;

    height: 30.3vw;
    width: 25.25vw;
}
.items2{
    height: 30.3vw;
  margin-left:2.53vw;
    width: 25.25vw;
}
.items3{
    height:30.3vw;
   margin-left: 2.78vw;
    width: 25.25vw;
}
.button2{
    align-items: center;
    margin-top:  1.52vw;
    margin-left: 8.08vw;
    width: 11.87vw;
    height: 3.13vw;
    border: black solid 1pt;
    text-align: center;
    padding-top:  0.56vw;
    border-radius: 1.62vw;
    font-size: 1.16vw;
    font-family: Readex Pro;
}
.img9{
    margin-top:2.53vw;
    height: 14.7vw;
    width: 14.34vw;
    background-image: url(c1.png);
    background-size: cover;
    transform: scale(1);
    margin-left: 4.7vw;
}
.img10{
    height: 16.06vw;
    width:18.79vw;
    background-image: url(c2.png);
    background-size: cover;
    transform: scale(1);
    margin-left:4.55vw;
}
.img11{
    height:16.46vw;
    width: 23.03vw;
    background-image: url(c3.png);
    background-size: cover;
    transform: scale(1);
    margin-left:  1.92vw;
}
.contant{
    margin-top: 3.03vw;
    display: flex;
    width: 100%;
    height: 30.3vw;
}
.img12{
    height: 27.02vw;
    width:39.65vw;
    background-image: url(kall.png);
    background-size: cover;
    transform: scale(1);
    margin-left: 4.55vw;
}    
.txt11{
    margin-top:1.52vw;
    color: black;
    font-family: Readex Pro;
    font-size: 1.52vw;
    width: 38.89vw;
    font-weight: 400;
    line-height:2.82vw;
    text-align: left;
    margin-left: 2.27vw;
}
.p1{
    color: black;
    font-family: Readex Pro;
    font-size: 1.52vw;
    width: 38.89vw;
    font-weight: 400;
    line-height:  1.81vw;
    text-align: left;

}
.seeall{
    margin-top: 2.54vw;
    width: 100%;
    height:  20.2vw;
    
}
.a1{
background-image: url(2.png);
background-size: cover;
transform: scale(1);
margin-left: 41.92vw;
margin-top:  1.52vw;
height:  1.62vw;
width:  6.67vw;
}
.zag3{
    margin-top:6.57vw;
    font-family: Readex Pro;
    font-size: 2.78vw;
    font-weight: 400;
    color: black;
    line-height: 2.95vw;
    margin-left: 1.01vw;
    text-align: center;
}
.search{
    margin-left:26.84vw;
    margin-top:  1.52vw;
    display: flex;
 
    width:39.65vw;
    height:3.69vw;
    border-radius:2.02vw;
}
.serchtext{
    font-family: Readex Pro;
    font-size: 1.01vw;  
 
    margin-top: 0.86vw;
}
.searchimg{
    width: 2.3vw;
    margin-left: 0.82vw;
    margin-top:  0.51vw;
    height:2.3vw;
    background-image: url(search.png);
    background-size: cover;
    transform: scale(1);
}
.bi-search2{
    margin: 1.11vw;
}

.ikon1{
    display: block;
    padding:  0.76vw;
    padding-left:1.01vw;
    padding-right: 1.01vw;
    padding-top: 0.45vw;
    margin: 0.25vw;
    margin-top:  1.5vw;
    font-family: Readex Pro;
    font-size:0.91vw;
    border: black solid 0.05vw;
    width: max-content;
    height: 2.53vw;
    border-radius:1.26vw;
}
.ikons1{
    display: flex;
    width: 40.4vw;
    height:3.05vw;
    margin-left:30.3vw;
 
}
.ikons2{
    display: flex;
 
    width: 40.4vw;
    height: 5.05vw;
    margin-left:33.33vw;
}
.never{
    padding-top: 3.54vw;
    width:59.09vw;
    height:  29.29vw;
    background-color: #DCE5E2;
    margin-left: 16.16vw;
    border: 1px solid #DCE5E2;
    border-radius: 1.01vw;
}
.txt12{
    font-family: Readex Pro;
    font-size: 1.01vw;
    text-align: center;
    margin-left: 1.36vw;
    margin-top: 0.76vw;
}
.img13{
    background-image: url(3.png);
    background-size: cover;
    transform: scale(1);
    width:  16.36vw;
    height: 12.63vw;
    margin-left:  21.72vw;
    margin-top:  0.56vw;
}
.search2{
    padding-left: 17.68vw;
    display:flex;
}
.search21{
    padding: 0.76vw;
    padding-left: 2.02vw;
    padding-right: 1.52vw;
    padding-top:  0.66vw;
    margin:  0.25vw;
    margin-top:  0.88vw;
    font-family:  Inter;
    font-size:  0.91vw;
    background-color: #DCE5E2;
    width:  17.68vw;
    height:  2.93vw; 
    z-index: 0; 
}
.search22{
    z-index: 1;
    padding:  0.76vw;
    background-color: black;
    color: white;
    padding-right: 1.01vw;
    padding-top:  0.66vw;
    margin: 5px;
    margin-left: -1.01vw;
    margin-top: 1.52vw;
    font-family:  Inter;
    font-size: 0.91vw;
    border: black solid 1px;
    width:  7.58vw;
    height:  2.93vw;
    text-align: center;
    border-radius: 0px  1.52vw  1.52vw 0px;
    margin-bottom: 5.05vw;
    
}
.img14{
    width: 100%;
    background-image: url(4.png);
    background-size: cover;
    transform: scale(1);
    height:  0.76vw;
    margin-top:  0.76vw;
}
.txt14{
    font-family: Readex Pro;
    font-size: 1.11vw;
    padding-top: 1.01vw;
    line-height: 2.53vw;
    color: black;
    text-decoration: none;
}
.txt14:hover {
    font-family: Readex Pro;
    font-size: 1.11vw;
    padding-top: 1.01vw;
    line-height: 2.53vw;
    color: black;
    text-decoration: none;
}
.t1{
    font-family: Readex Pro;
    font-size: 1.41vw;
    width: 14.14vw;
    height: 17.68vw;
    padding: 2.53vw;
    padding-top: 0px;
    color: black;
    margin-left: -2.53vw;
}
.t2{
    font-family: Readex Pro;
    font-size: 1.41vw;
    width: 10.1vw;
    height: 17.68vw;
    padding:2.53vw;
    padding-top: 0px;
    margin-left: -1.52vw;
    color: black;
}

.t3{
    font-family: Readex Pro;
    font-size: 1.41vw;
    width: 13.13vw;
    height: 15.15vw;
    padding: 2.53vw;
    padding-top: 0px;
    color: black;
    margin-left: 4.04vw;
} 
.t4{
    font-family: Readex Pro;
    font-size: 1.41vw;
    width: 13.13vw;
    height: 17.68vw;
    padding: 2.53vw;
    padding-top: 0px;
    color: black;
    margin-left: 1.67vw;
}
.california{
    padding-top: 2.53vw;
    display: flex;
    width: 100%;
    height:17.68vw;
}
.left{
    width: 32.32vw;
    height: 17.68vw;
}
.right{
    width: 47.47vw;
    display: flex;
    height:17.68vw;
}
.img15{
    background-image: url(california2.png);
    background-size: cover;
    transform: scale(1);
    width: 10.96vw;
    height: 1.57vw;
    margin-top: 1.01vw;
    margin-left:  5.05vw;
}
.txt15{
    font-family: Readex Pro;
    font-size: 1.01vw;
    text-align: left;
    margin-left:  5.05vw;
    margin-top: 0.76vw;
    width: 18.69vw;
}

.txt13{
    display: flex;
}
.txt16{
    font-family: Readex Pro;
    font-size: 1.11vw;
    padding-top: 1.01vw;
    line-height: 2.53vw;
    width:  5.05vw;
    color: black;
    text-decoration: none;
}
.txt16:hover{
    font-family: Readex Pro;
    font-size: 1.11vw;
    padding-top:1.01vw;
    line-height:2.53vw;
    width:  5.05vw;
    color: black;
    text-decoration: none;
}

.podval{
    background-image: url(5.png);
    background-size: cover;
    transform: scale(1);
    width: 100%;
    height:  5.3vw;
}
@media  (max-width: 700px){
    .n2{
        font-size: 1.81vw;
    }
    .n1{
        font-size: 1.81vw;
        margin-left: 6.68vw;
    }
    .bi-search{
        margin-left: 11.19vw;
        width: 2.61vw;
    height: 2.61vw
    }
    .bi-cart2{
        width: 2.61vw;
        height: 2.61vw
    }
    .zag {
        font-family: Readex Pro;
        font-size: 4.64vw;
        margin-top: 18%;
        margin-left: 4.84vw;
        color: black;
        line-height: 5.9vw;
    }
    .button{
        margin-left: 10vw;
        width: 46%;
        margin-bottom: 3VW;
    }
    .podzag {
        margin-top: 3%;
        font-family: Inter;
        font-size: 0vw;
    }
    .txt2{
        font-size: 3.7vw;
    }
    .txt3{
        font-size: 0px;
    }
    .zag2{
        font-size: 3.8vw;
    }
    .txt6 {
        color: black;
        font-family: Readex Pro;
        font-size: 0;
        font-weight: 400;
        line-height: 0.85vw;
        text-align: left;
        margin-left: 25.83vw;
        margin-top: 1.61vw;
    }
    .txt7 {
        font-family: Readex Pro;
        font-size: 2.5vw;
        font-weight: 400;
        line-height: 3.21vw;
        text-align: left;
        margin-top: 4.04vw;
        display: flex;
    }
    .txt8{
        font-size: 0px;
    }
    .m2 {
        margin-top: -3.13vw;
        margin-left: 2vw;
    }
    .m4 {
        margin-top: -3.43vw;
        margin-left: 5vw;
    }
    .see{
        margin-top: 6vw;
    }
    .txt9{
        font-size: 0px;
    }
    .itemsb {
        margin-top: 4.57vw;
        display: flex;
        width: 100%;
        height: 32.83vw;
    }
    .a1 {
        background-image: url(2.png);
        background-size: cover;
        transform: scale(1);
        margin-left: 39.92vw;
        margin-top: 1.52vw;
        height: 2.62vw;
        width: 12.67vw;
    }
    .zag3 {
        margin-top: 3.57vw;
    }
    .txt51{
        font-size: 0px;
    }
    .txt52{
        font-size: 0px;
    }
    .txt53{
        font-size: 0px;
    }
    .txt54{
        font-size: 0px;
    }
    .pay{
        font-size: 2vw;
    }
    .txt10{
        font-size: 2.8vw;
    }
    .ikons1{
        display: none;
    }
    .ikons2{
        display: none;
    }
    .seeall {
        margin-top: 2.54vw;
        width: 100%;
        height: 10vw;
    }
    .txt12{
        display: none;
    }
    .search21 {
        padding: 0.76vw;
        padding-left: 0.02vw;
        padding-right: 1.52vw;
        padding-top: 0.66vw;
        margin: 0.25vw;
        margin-top: 0.88vw;
        font-family: Inter;
        font-size: 0.91vw;
        background-color: #DCE5E2;
        width: 19.68vw;
        height: 2.93vw;
        z-index: 0;
    }
    .t1{
        font-size: 2.4vw;
        text-align: center;
    }
    .t2{
        font-size: 2.4vw;
        margin-left: 0.5vw;
    }
    .t3{
        font-size: 2.4vw;
    }
    .t4{
        font-size: 2.4vw;
        text-align: center;
    }
    .txt16{
        display: none;
    }
    .txt14{
        display: none;
    }
    .img15 {

        width: 17.96vw;
        height: 2.57vw;
    }
    .txt15 {
        font-family: Readex Pro;
        font-size: 1.61vw;
        text-align: left;
        margin-left: 5.05vw;
        margin-top: 0.76vw;
        width: 18.69vw;
        line-height: 1.7vw;
    }
    .podval {
        background-image: url(5.png);
        background-size: cover;
        transform: scale(1);
        width: 100%;
        height: 10.3vw;
        margin-top: -1vw;
    }
    .img15 {
        width: 18.96vw;
        height: 2.57vw;
    }
    .a1 {
        background-image: url(2.png);
        background-size: cover;
        transform: scale(1);
        margin-left: 35.92vw;
        margin-top: 1.52vw;
        height: 4.62vw;
        width: 20.67vw;
    }
    .image1 {
        margin-top: -1vw;
        background-image: url(california2.png);
        background-size: cover;
        transform: scale(1);
        width: 16.2vw;
        height: 2vw;
        margin-left: 4.04vw;
    }
    .california {
        padding-top: 2.53vw;
        display: flex;
        width: 100%;
        height: 14.68vw;
    }
}